In [1]:
from datetime import datetime, timedelta
from pandas import DataFrame, concat, date_range, ExcelWriter, read_csv, concat
# from pandas import DataFrame, ExcelWriter, date_range, to_datetime
import os
from numpy import isnan
import time
from IPython.display import display

import warnings
warnings.filterwarnings("ignore")

parent = os.path.dirname(os.path.abspath("__file__"))
record_path = os.path.join(parent, "FollowBroker")
if not os.path.isdir(record_path):
    os.makedirs(record_path)

In [2]:
def readDailyRecord(date:datetime):
    ob_f_path = os.path.join(record_path, f'{date.strftime("%Y%m%d")}_OverBuy.csv')
    os_f_path = os.path.join(record_path, f'{date.strftime("%Y%m%d")}_OverSell.csv')
    ob_df, os_df = DataFrame(), DataFrame()
    if os.path.isfile(ob_f_path):
        try:
            ob_df = read_csv(ob_f_path, dtype=str)
            ob_df.columns = ['Ticker','Name', 'Qty', 'Value','Price','Volume', 'Ratio']
        except:
            pass
        try:
            os_df = read_csv(os_f_path, dtype=str)
            os_df.columns = ['Ticker','Name', 'Qty', 'Value','Price','Volume', 'Ratio']
        except:
            pass
    return ob_df, os_df

In [3]:
def changeType(x):
    if isinstance(x, float) or isinstance(x, int):
        if isnan(x):
            return x
#         else:
#             return x
    elif isinstance(x, str):
        return float(x.replace(',',''))

# First Time Aggregate

In [4]:
ob_dfs = {}
os_dfs = {}
for date in date_range(datetime(2022,5,9), datetime.today()):
    ob_df, os_df = readDailyRecord(date)
    if ob_df.empty and os_df.empty:
        continue
    ob_dfs[date] = ob_df
    os_dfs[date] = os_df

In [5]:
keys = sorted(set(ob_dfs.keys()).intersection(os_dfs.keys()))

In [6]:
tickers_ob = concat(list(ob_dfs.values())).Ticker.unique()
tickers_os = concat(list(os_dfs.values())).Ticker.unique()
tickers = list(set(tickers_ob).intersection(tickers_os))

In [7]:
ob_dfs[date]

KeyError: Timestamp('2022-06-21 00:00:00', freq='D')

In [8]:
results = {}

for date in date_range(datetime(2022,5,9), datetime.today()):
    if date in ob_dfs.keys():
        tmp_ob = list(ob_dfs[date].T.to_dict().values())
        for ob_ in tmp_ob:
            results[ob_['Ticker']] = results.get(ob_['Ticker'],[])
            results[ob_['Ticker']].append({
                "交易日期":date.strftime("%Y-%m-%d"),
                '代號':ob_['Ticker'],
                '名稱':ob_['Name'],
                '買均':ob_['Price'],
                '買量':ob_['Qty'],
                '賣均':float('nan'),
                '賣量':float('nan')
            })
    if date in os_dfs.keys():
        tmp_os = list(os_dfs[date].T.to_dict().values())
        for os_ in tmp_os:
            results[os_['Ticker']] = results.get(os_['Ticker'], [])
            results[os_['Ticker']].append({
                "交易日期":date.strftime("%Y-%m-%d"),
                '代號':os_['Ticker'],
                '名稱':os_['Name'],
                '買均':float('nan'),
                '買量':float('nan'),
                '賣均':os_['Price'],
                '賣量':os_['Qty']
            })

In [50]:
results.keys()

dict_keys(["'2353", "'3374", "'3596", "'6470", "'00664R", "'3231", "'6235", "'2618", "'1815", "'2880", "'3710", "'9962", "'6111", "'2610", "'2406", "'1605", "'2317", "'1795", "'3481", "'2303", "'5351", "'00637L", "'2371", "'2883B", "'00632R", "'3035", "'3552", "'1102", "'2884", "'3037", "'8069", "'3532", "'3520", "'4433", "'5258", "'6163", "'00891", "'2405", "'2614", "'2834", "'4906", "'5272", "'1560", "'2915", "'3558", "'6605", "'2887", "'2888", "'3645", "'4721", "'6217", "'00671R", "'00878", "'2603", "'2609", "'4908", "'6026", "'2027", "'2515", "'6546", "'1524", "'2385", "'4931", "'2301", "'2634", "'00669R", "'00893", "'6226", "'8155"])

In [70]:
def DoSummary(ticker, results):
    tmp_df = DataFrame(results[ticker]).copy(deep=True)
    tmp_df['買均'] = tmp_df['買均'].apply(lambda x: changeType(x))
    tmp_df['買量'] = tmp_df['買量'].apply(lambda x: changeType(x))
    tmp_df['賣均'] = tmp_df['賣均'].apply(lambda x: changeType(x))
    tmp_df['賣量'] = tmp_df['賣量'].apply(lambda x: changeType(x))
    tmp_df['累計買均'] = float('nan')
    tmp_df['累計買量'] = tmp_df['買量'].fillna(0).cumsum() + tmp_df['賣量'].fillna(0).cumsum()
    tmp_df['損益'] = float('nan')
    tmp_df['進場手續費'] = float('nan')
    tmp_df['出場手續費'] = float('nan')
    tmp_df['交易稅'] = float('nan')
    tmp_df['淨損益'] = float('nan')
    tmp_df['餘量'] = tmp_df['買量']
    tmp_df['餘累買量'] = tmp_df['累計買量']
    display(tmp_df)

    for row in tmp_df.itertuples():
        if not isnan(row.賣均) and isnan(row.損益) and row.Index: # 有賣出
            
            exit_qty = abs(row.賣量)
            exit_price = row.賣均
            pnl = 0
            exit_commission = entry_commission = 0
            tax = 0
#             print(row, isnan(row.賣均), isnan(row.損益), exit_qty, exit_qty > 0)
#             print(range(tmp_df.shape[0], row.Index))
            for i in range(0, min(tmp_df.shape[0], row.Index)):
#                 print(i, exit_qty)
                if tmp_df.loc[i, '餘量'] <= 0: continue
#                 print(exit_qty)
                if exit_qty > 0:
#                     display(tmp_df.head(i+1))
                    if tmp_df.loc[i, '餘量']:
                        covered_qty = min(tmp_df.loc[i, '餘量'] if not isnan(tmp_df.loc[i, '餘量']) else tmp_df.loc[i, '買量'], exit_qty)
#                         print(covered_qty, isnan(covered_qty))
                        if isnan(covered_qty):
                            covered_qty = tmp_df.loc[i, '餘量'] = 0
                            continue
                        entry_price = tmp_df.loc[i, '買均']
#                         print(tmp_df.loc[i])
#                         print(row.Index,i, entry_price, exit_price, exit_qty, covered_qty)
                        exit_qty -= covered_qty
                        pnl += int((exit_price - entry_price) * 1000 * covered_qty)
                        entry_commission += int(round(entry_price * 1.425e-3 * .3 * covered_qty * 1000))
                        exit_commission += int(round(exit_price * 1.425e-3 * .3 * covered_qty * 1000))
                        tax += int(round(exit_price * 3e-3 * covered_qty * 1000))
                        if exit_qty > 0:
                            tmp_df.loc[i, '餘量'] = 0
                        else:
                            tmp_df.loc[i, '餘量'] = abs(row.賣量) - covered_qty# tmp_df.loc[i, '餘量']
            tmp_df.loc[row.Index, '損益'] = int(pnl)
            tmp_df.loc[row.Index, '進場手續費'] = int(entry_commission)
            tmp_df.loc[row.Index, '出場手續費'] = int(exit_commission)
            tmp_df.loc[row.Index, '交易稅'] = int(tax)
            tmp_df.loc[row.Index, '淨損益'] = int(pnl - (entry_commission + exit_commission + tax))

            tmp_df['餘累買量'] = tmp_df['餘量'].fillna(0).cumsum()
            total_qty = 0
            # 累計買均
            tmp_qty = row.買量 if not isnan(row.買量) else 0
            tmp_price = row.買均 if not isnan(row.買均) else 0
            if not tmp_qty and not tmp_price and row.Index:
                tmp_df.loc[row.Index, '累計買均'] = tmp_df.loc[row.Index-1, '累計買均']
        else:
            tmp_qty = row.買量 if not isnan(row.買量) else 0
            tmp_price = row.買均 if not isnan(row.買均) else 0
            if not row.Index:
                tmp_df.loc[row.Index, '累計買均'] = tmp_price * tmp_qty / row.累計買量
            else:
                tmp_df.loc[row.Index, '累計買均'] = (tmp_price * tmp_qty + tmp_df.loc[row.Index-1, '累計買均'] * tmp_df.loc[row.Index-1, '累計買量'] )/ row.累計買量

    tmp_df['餘買均'] = 0
    for row in tmp_df.itertuples():
        tmp_qty = row.餘量 if not isnan(row.餘量) else 0
        tmp_price = row.買均 if not isnan(row.買均) else 0
        if not row.Index:
            tmp_df.loc[row.Index, '餘買均'] = tmp_price * tmp_qty / row.餘累買量 if row.餘累買量 and not isnan(row.餘累買量) else 0
        else:
            tmp_df.loc[row.Index, '餘買均'] = (tmp_price * tmp_qty + tmp_df.loc[row.Index-1, '餘買均'] * tmp_df.loc[row.Index-1, '餘累買量'] )/ row.餘累買量


    tmp_ticker = ticker.replace("\'","")
    display(tmp_df)
    tmp_df.to_csv(os.path.join(record_path, f'{tmp_ticker}_Summary.csv'), index=False, encoding='utf-8-sig')

In [71]:
for ticker in results.keys():
    print(ticker)
# ticker = '\'3374'
    DoSummary(ticker, results)

'2353

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-09,'2353,宏��,27.53,274.0,NaN,NaN,NaN,274.0,NaN,NaN,NaN,NaN,NaN,274.0,274.0
1,2022-05-10,'2353,宏��,27.82,781.0,NaN,NaN,NaN,1055.0,NaN,NaN,NaN,NaN,NaN,781.0,1055.0
2,2022-05-11,'2353,宏��,27.83,933.0,NaN,NaN,NaN,1988.0,NaN,NaN,NaN,NaN,NaN,933.0,1988.0
3,2022-05-12,'2353,宏��,27.69,604.0,NaN,NaN,NaN,2592.0,NaN,NaN,NaN,NaN,NaN,604.0,2592.0
4,2022-05-13,'2353,宏��,28.30,1221.0,NaN,NaN,NaN,3813.0,NaN,NaN,NaN,NaN,NaN,1221.0,3813.0
5,2022-05-16,'2353,宏��,28.58,1448.0,NaN,NaN,NaN,5261.0,NaN,NaN,NaN,NaN,NaN,1448.0,5261.0
6,2022-05-17,'2353,宏��,28.44,267.0,NaN,NaN,NaN,5528.0,NaN,NaN,NaN,NaN,NaN,267.0,5528.0
7,2022-05-19,'2353,宏��,28.18,446.0,NaN,NaN,NaN,5974.0,NaN,NaN,NaN,NaN,NaN,446.0,5974.0
8,2022-05-31,'2353,宏��,NaN,NaN,29.64,-781.0,NaN,5193.0,NaN,NaN,NaN,NaN,NaN,NaN,5193.0
9,2022-06-01,'2353,宏��,29.17,463.0,NaN,NaN,NaN,5656.0,NaN,NaN,NaN,NaN,NaN,463.0,5656.0
10,2022-06-02,'2353,宏��,29.10,329.0,NaN,NaN,NaN,5985.0,NaN,NaN,NaN,NaN,NaN,329.0,5985.0
11,2022-06-06,'2353,宏��,29.06,439.0,NaN,NaN,NaN,6424.0,NaN,NaN,NaN,NaN,NaN,439.0,6424.0
12,2022-06-10,'2353,宏��,28.05,255.0,NaN,NaN,NaN,6679.0,NaN,NaN,NaN,NaN,NaN,255.0,6679.0
13,2022-06-15,'2353,宏��,27.45,260.0,NaN,NaN,NaN,6939.0,NaN,NaN,NaN,NaN,NaN,260.0,6939.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-09,'2353,宏��,27.53,274.0,NaN,NaN,27.530000,274.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.000000
1,2022-05-10,'2353,宏��,27.82,781.0,NaN,NaN,27.744682,1055.0,NaN,NaN,NaN,NaN,NaN,274.0,274.0,27.820000
2,2022-05-11,'2353,宏��,27.83,933.0,NaN,NaN,27.784723,1988.0,NaN,NaN,NaN,NaN,NaN,933.0,1207.0,27.827730
3,2022-05-12,'2353,宏��,27.69,604.0,NaN,NaN,27.762650,2592.0,NaN,NaN,NaN,NaN,NaN,604.0,1811.0,27.781795
4,2022-05-13,'2353,宏��,28.30,1221.0,NaN,NaN,27.934721,3813.0,NaN,NaN,NaN,NaN,NaN,1221.0,3032.0,27.990478
5,2022-05-16,'2353,宏��,28.58,1448.0,NaN,NaN,28.112323,5261.0,NaN,NaN,NaN,NaN,NaN,1448.0,4480.0,28.181020
6,2022-05-17,'2353,宏��,28.44,267.0,NaN,NaN,28.128149,5528.0,NaN,NaN,NaN,NaN,NaN,267.0,4747.0,28.195587
7,2022-05-19,'2353,宏��,28.18,446.0,NaN,NaN,28.132020,5974.0,NaN,NaN,NaN,NaN,NaN,446.0,5193.0,28.194248
8,2022-05-31,'2353,宏��,NaN,NaN,29.64,-781.0,28.132020,5193.0,1500879.0,9255.0,9896.0,69446.0,1412282.0,NaN,5193.0,28.194248
9,2022-06-01,'2353,宏��,29.17,463.0,NaN,NaN,28.216989,5656.0,NaN,NaN,NaN,NaN,NaN,463.0,5656.0,28.274123
10,2022-06-02,'2353,宏��,29.10,329.0,NaN,NaN,28.265529,5985.0,NaN,NaN,NaN,NaN,NaN,329.0,5985.0,28.319522
11,2022-06-06,'2353,宏��,29.06,439.0,NaN,NaN,28.319821,6424.0,NaN,NaN,NaN,NaN,NaN,439.0,6424.0,28.370125
12,2022-06-10,'2353,宏��,28.05,255.0,NaN,NaN,28.309520,6679.0,NaN,NaN,NaN,NaN,NaN,255.0,6679.0,28.357902
13,2022-06-15,'2353,宏��,27.45,260.0,NaN,NaN,28.277314,6939.0,NaN,NaN,NaN,NaN,NaN,260.0,6939.0,28.323884

'3374

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-09,'3374,精材,132.05,321.0,NaN,NaN,NaN,321.0,NaN,NaN,NaN,NaN,NaN,321.0,321.0
1,2022-05-11,'3374,精材,NaN,NaN,135.86,-337.0,NaN,-16.0,NaN,NaN,NaN,NaN,NaN,NaN,-16.0
2,2022-05-17,'3374,精材,139.99,299.0,NaN,NaN,NaN,283.0,NaN,NaN,NaN,NaN,NaN,299.0,283.0
3,2022-05-18,'3374,精材,NaN,NaN,141.94,-154.0,NaN,129.0,NaN,NaN,NaN,NaN,NaN,NaN,129.0
4,2022-05-19,'3374,精材,NaN,NaN,141.82,-152.0,NaN,-23.0,NaN,NaN,NaN,NaN,NaN,NaN,-23.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-09,'3374,精材,132.05,321.0,NaN,NaN,132.050000,321.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-05-11,'3374,精材,NaN,NaN,135.86,-337.0,132.050000,-16.0,1223010.0,18121.0,18644.0,130833.0,1055412.0,0.0,0.0,NaN
2,2022-05-17,'3374,精材,139.99,299.0,NaN,NaN,140.438905,283.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
3,2022-05-18,'3374,精材,NaN,NaN,141.94,-154.0,140.438905,129.0,300299.0,9216.0,9345.0,65576.0,216162.0,0.0,0.0,NaN
4,2022-05-19,'3374,精材,NaN,NaN,141.82,-152.0,140.438905,-23.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN

'3596

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-09,'3596,智易,109.34,699.0,NaN,NaN,NaN,699.0,NaN,NaN,NaN,NaN,NaN,699.0,699.0
1,2022-05-13,'3596,智易,NaN,NaN,112.57,-614.0,NaN,85.0,NaN,NaN,NaN,NaN,NaN,NaN,85.0
2,2022-05-16,'3596,智易,NaN,NaN,116.29,-220.0,NaN,-135.0,NaN,NaN,NaN,NaN,NaN,NaN,-135.0
3,2022-05-27,'3596,智易,117.22,112.0,NaN,NaN,NaN,-23.0,NaN,NaN,NaN,NaN,NaN,112.0,-23.0
4,2022-05-30,'3596,智易,122.88,705.0,NaN,NaN,NaN,682.0,NaN,NaN,NaN,NaN,NaN,705.0,682.0
5,2022-06-01,'3596,智易,NaN,NaN,124.50,-105.0,NaN,577.0,NaN,NaN,NaN,NaN,NaN,NaN,577.0
6,2022-06-02,'3596,智易,121.54,210.0,NaN,NaN,NaN,787.0,NaN,NaN,NaN,NaN,NaN,210.0,787.0
7,2022-06-06,'3596,智易,NaN,NaN,124.75,-791.0,NaN,-4.0,NaN,NaN,NaN,NaN,NaN,NaN,-4.0
8,2022-06-16,'3596,智易,NaN,NaN,127.68,-103.0,NaN,-107.0,NaN,NaN,NaN,NaN,NaN,NaN,-107.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-09,'3596,智易,109.34,699.0,NaN,NaN,109.340000,699.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-05-13,'3596,智易,NaN,NaN,112.57,-614.0,109.340000,85.0,1983219.0,28700.0,29548.0,207354.0,1717617.0,0.0,0.0,NaN
2,2022-05-16,'3596,智易,NaN,NaN,116.29,-220.0,109.340000,-135.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,2022-05-27,'3596,智易,117.22,112.0,NaN,NaN,70.967826,-23.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
4,2022-05-30,'3596,智易,122.88,705.0,NaN,NaN,124.630704,682.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
5,2022-06-01,'3596,智易,NaN,NaN,124.50,-105.0,124.630704,577.0,764400.0,5262.0,5588.0,39218.0,714332.0,0.0,0.0,NaN
6,2022-06-02,'3596,智易,121.54,210.0,NaN,NaN,123.805993,787.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
7,2022-06-06,'3596,智易,NaN,NaN,124.75,-791.0,123.805993,-4.0,1594409.0,41502.0,42184.0,296032.0,1214691.0,NaN,0.0,NaN
8,2022-06-16,'3596,智易,NaN,NaN,127.68,-103.0,123.805993,-107.0,632420.0,5352.0,5622.0,39453.0,581993.0,NaN,0.0,NaN

'6470

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-09,'6470,宇智,58.24,821.0,NaN,NaN,NaN,821.0,NaN,NaN,NaN,NaN,NaN,821.0,821.0
1,2022-05-12,'6470,宇智,NaN,NaN,65.46,-504.0,NaN,317.0,NaN,NaN,NaN,NaN,NaN,NaN,317.0
2,2022-05-17,'6470,宇智,NaN,NaN,64.07,-317.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,2022-05-18,'6470,宇智,62.01,198.0,NaN,NaN,NaN,198.0,NaN,NaN,NaN,NaN,NaN,198.0,198.0
4,2022-05-23,'6470,宇智,63.36,100.0,NaN,NaN,NaN,298.0,NaN,NaN,NaN,NaN,NaN,100.0,298.0
5,2022-05-30,'6470,宇智,61.72,160.0,NaN,NaN,NaN,458.0,NaN,NaN,NaN,NaN,NaN,160.0,458.0
6,2022-06-01,'6470,宇智,NaN,NaN,63.61,-361.0,NaN,97.0,NaN,NaN,NaN,NaN,NaN,NaN,97.0
7,2022-06-09,'6470,宇智,70.66,945.0,NaN,NaN,NaN,1042.0,NaN,NaN,NaN,NaN,NaN,945.0,1042.0
8,2022-06-10,'6470,宇智,NaN,NaN,73.10,-908.0,NaN,134.0,NaN,NaN,NaN,NaN,NaN,NaN,134.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-09,'6470,宇智,58.24,821.0,NaN,NaN,58.240000,821.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-05-12,'6470,宇智,NaN,NaN,65.46,-504.0,58.240000,317.0,3638879.0,12548.0,14104.0,98976.0,3513251.0,0.0,0.0,NaN
2,2022-05-17,'6470,宇智,NaN,NaN,64.07,-317.0,58.240000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,2022-05-18,'6470,宇智,62.01,198.0,NaN,NaN,62.010000,198.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
4,2022-05-23,'6470,宇智,63.36,100.0,NaN,NaN,62.463020,298.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
5,2022-05-30,'6470,宇智,61.72,160.0,NaN,NaN,62.203450,458.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
6,2022-06-01,'6470,宇智,NaN,NaN,63.61,-361.0,62.203450,97.0,460870.0,9620.0,9816.0,68889.0,372545.0,0.0,0.0,NaN
7,2022-06-09,'6470,宇智,70.66,945.0,NaN,NaN,69.872778,1042.0,NaN,NaN,NaN,NaN,NaN,298.0,298.0,NaN
8,2022-06-10,'6470,宇智,NaN,NaN,73.10,-908.0,69.872778,134.0,4879638.0,26289.0,28376.0,199124.0,4625849.0,NaN,298.0,NaN

'00664R

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-09,'00664R,國泰臺灣加權反1,NaN,NaN,6.42,-1000.0,NaN,-1000.0,NaN,NaN,NaN,NaN,NaN,NaN,-1000.0
1,2022-05-10,'00664R,國泰臺灣加權反1,6.44,200.0,NaN,NaN,NaN,-800.0,NaN,NaN,NaN,NaN,NaN,200.0,-800.0
2,2022-05-17,'00664R,國泰臺灣加權反1,6.42,218.0,NaN,NaN,NaN,-582.0,NaN,NaN,NaN,NaN,NaN,218.0,-582.0
3,2022-05-18,'00664R,國泰臺灣加權反1,6.35,106.0,NaN,NaN,NaN,-476.0,NaN,NaN,NaN,NaN,NaN,106.0,-476.0
4,2022-05-19,'00664R,國泰臺灣加權反1,6.45,332.0,NaN,NaN,NaN,-144.0,NaN,NaN,NaN,NaN,NaN,332.0,-144.0
5,2022-05-20,'00664R,國泰臺灣加權反1,6.40,144.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,144.0,0.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-09,'00664R,國泰臺灣加權反1,NaN,NaN,6.42,-1000.0,-0.000000,-1000.0,NaN,NaN,NaN,NaN,NaN,NaN,-1000.0,-0.000000
1,2022-05-10,'00664R,國泰臺灣加權反1,6.44,200.0,NaN,NaN,-1.610000,-800.0,NaN,NaN,NaN,NaN,NaN,200.0,-800.0,-1.610000
2,2022-05-17,'00664R,國泰臺灣加權反1,6.42,218.0,NaN,NaN,-4.617801,-582.0,NaN,NaN,NaN,NaN,NaN,218.0,-582.0,-4.617801
3,2022-05-18,'00664R,國泰臺灣加權反1,6.35,106.0,NaN,NaN,-7.060210,-476.0,NaN,NaN,NaN,NaN,NaN,106.0,-476.0,-7.060210
4,2022-05-19,'00664R,國泰臺灣加權反1,6.45,332.0,NaN,NaN,-38.208750,-144.0,NaN,NaN,NaN,NaN,NaN,332.0,-144.0,-38.208750
5,2022-05-20,'00664R,國泰臺灣加權反1,6.40,144.0,NaN,NaN,inf,0.0,NaN,NaN,NaN,NaN,NaN,144.0,0.0,inf

'3231

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-09,'3231,緯創,NaN,NaN,27.74,-876.0,NaN,-876.0,NaN,NaN,NaN,NaN,NaN,NaN,-876.0
1,2022-05-10,'3231,緯創,NaN,NaN,27.10,-4288.0,NaN,-5164.0,NaN,NaN,NaN,NaN,NaN,NaN,-5164.0
2,2022-05-13,'3231,緯創,NaN,NaN,27.04,-1739.0,NaN,-6903.0,NaN,NaN,NaN,NaN,NaN,NaN,-6903.0
3,2022-05-16,'3231,緯創,NaN,NaN,27.26,-206.0,NaN,-7109.0,NaN,NaN,NaN,NaN,NaN,NaN,-7109.0
4,2022-05-19,'3231,緯創,NaN,NaN,27.72,-109.0,NaN,-7218.0,NaN,NaN,NaN,NaN,NaN,NaN,-7218.0
5,2022-06-02,'3231,緯創,NaN,NaN,28.70,-152.0,NaN,-7370.0,NaN,NaN,NaN,NaN,NaN,NaN,-7370.0
6,2022-06-10,'3231,緯創,NaN,NaN,28.76,-198.0,NaN,-7568.0,NaN,NaN,NaN,NaN,NaN,NaN,-7568.0
7,2022-06-15,'3231,緯創,NaN,NaN,28.80,-497.0,NaN,-8065.0,NaN,NaN,NaN,NaN,NaN,NaN,-8065.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-09,'3231,緯創,NaN,NaN,27.74,-876.0,-0.0,-876.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-05-10,'3231,緯創,NaN,NaN,27.10,-4288.0,-0.0,-5164.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,2022-05-13,'3231,緯創,NaN,NaN,27.04,-1739.0,-0.0,-6903.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,2022-05-16,'3231,緯創,NaN,NaN,27.26,-206.0,-0.0,-7109.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,2022-05-19,'3231,緯創,NaN,NaN,27.72,-109.0,-0.0,-7218.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
5,2022-06-02,'3231,緯創,NaN,NaN,28.70,-152.0,-0.0,-7370.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
6,2022-06-10,'3231,緯創,NaN,NaN,28.76,-198.0,-0.0,-7568.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
7,2022-06-15,'3231,緯創,NaN,NaN,28.80,-497.0,-0.0,-8065.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN

'6235

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-09,'6235,華孚,NaN,NaN,39.36,-355.0,NaN,-355.0,NaN,NaN,NaN,NaN,NaN,NaN,-355.0
1,2022-05-10,'6235,華孚,NaN,NaN,38.44,-600.0,NaN,-955.0,NaN,NaN,NaN,NaN,NaN,NaN,-955.0
2,2022-05-26,'6235,華孚,39.46,655.0,NaN,NaN,NaN,-300.0,NaN,NaN,NaN,NaN,NaN,655.0,-300.0
3,2022-05-27,'6235,華孚,39.99,426.0,NaN,NaN,NaN,126.0,NaN,NaN,NaN,NaN,NaN,426.0,126.0
4,2022-05-31,'6235,華孚,NaN,NaN,44.90,-691.0,NaN,-565.0,NaN,NaN,NaN,NaN,NaN,NaN,-565.0
5,2022-06-01,'6235,華孚,NaN,NaN,45.25,-386.0,NaN,-951.0,NaN,NaN,NaN,NaN,NaN,NaN,-951.0
6,2022-06-10,'6235,華孚,44.11,718.0,NaN,NaN,NaN,-233.0,NaN,NaN,NaN,NaN,NaN,718.0,-233.0
7,2022-06-14,'6235,華孚,43.12,332.0,NaN,NaN,NaN,99.0,NaN,NaN,NaN,NaN,NaN,332.0,99.0
8,2022-06-15,'6235,華孚,45.42,120.0,NaN,NaN,NaN,219.0,NaN,NaN,NaN,NaN,NaN,120.0,219.0
9,2022-06-16,'6235,華孚,42.04,186.0,NaN,NaN,NaN,405.0,NaN,NaN,NaN,NaN,NaN,186.0,405.0
10,2022-06-17,'6235,華孚,41.81,777.0,NaN,NaN,NaN,1182.0,NaN,NaN,NaN,NaN,NaN,777.0,1182.0
11,2022-06-20,'6235,華孚,42.52,226.0,NaN,NaN,NaN,1408.0,NaN,NaN,NaN,NaN,NaN,226.0,1408.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-09,'6235,華孚,NaN,NaN,39.36,-355.0,-0.000000,-355.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-05-10,'6235,華孚,NaN,NaN,38.44,-600.0,-0.000000,-955.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,2022-05-26,'6235,華孚,39.46,655.0,NaN,NaN,-86.154333,-300.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
3,2022-05-27,'6235,華孚,39.99,426.0,NaN,NaN,340.333651,126.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
4,2022-05-31,'6235,華孚,NaN,NaN,44.90,-691.0,340.333651,-565.0,3739958.0,11664.0,13264.0,93077.0,3621953.0,NaN,0.0,NaN
5,2022-06-01,'6235,華孚,NaN,NaN,45.25,-386.0,340.333651,-951.0,2030359.0,6599.0,7467.0,52400.0,1963893.0,NaN,0.0,NaN
6,2022-06-10,'6235,華孚,44.11,718.0,NaN,NaN,1253.160180,-233.0,NaN,NaN,NaN,NaN,NaN,718.0,718.0,NaN
7,2022-06-14,'6235,華孚,43.12,332.0,NaN,NaN,-2804.752342,99.0,NaN,NaN,NaN,NaN,NaN,332.0,1050.0,NaN
8,2022-06-15,'6235,華孚,45.42,120.0,NaN,NaN,-1243.014073,219.0,NaN,NaN,NaN,NaN,NaN,120.0,1170.0,NaN
9,2022-06-16,'6235,華孚,42.04,186.0,NaN,NaN,-652.841091,405.0,NaN,NaN,NaN,NaN,NaN,186.0,1356.0,NaN
10,2022-06-17,'6235,華孚,41.81,777.0,NaN,NaN,-196.204968,1182.0,NaN,NaN,NaN,NaN,NaN,777.0,2133.0,NaN
11,2022-06-20,'6235,華孚,42.52,226.0,NaN,NaN,-157.886898,1408.0,NaN,NaN,NaN,NaN,NaN,226.0,2359.0,NaN

'2618

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-10,'2618,長榮航,35.27,304.0,NaN,NaN,NaN,304.0,NaN,NaN,NaN,NaN,NaN,304.0,304.0
1,2022-05-12,'2618,長榮航,NaN,NaN,33.46,-407.0,NaN,-103.0,NaN,NaN,NaN,NaN,NaN,NaN,-103.0
2,2022-05-13,'2618,長榮航,32.33,210.0,NaN,NaN,NaN,107.0,NaN,NaN,NaN,NaN,NaN,210.0,107.0
3,2022-05-18,'2618,長榮航,32.12,109.0,NaN,NaN,NaN,216.0,NaN,NaN,NaN,NaN,NaN,109.0,216.0
4,2022-05-25,'2618,長榮航,NaN,NaN,32.75,-232.0,NaN,-16.0,NaN,NaN,NaN,NaN,NaN,NaN,-16.0
5,2022-06-06,'2618,長榮航,35.13,163.0,NaN,NaN,NaN,147.0,NaN,NaN,NaN,NaN,NaN,163.0,147.0
6,2022-06-13,'2618,長榮航,NaN,NaN,32.68,-159.0,NaN,-12.0,NaN,NaN,NaN,NaN,NaN,NaN,-12.0
7,2022-06-14,'2618,長榮航,32.08,130.0,NaN,NaN,NaN,118.0,NaN,NaN,NaN,NaN,NaN,130.0,118.0
8,2022-06-16,'2618,長榮航,NaN,NaN,32.78,-136.0,NaN,-18.0,NaN,NaN,NaN,NaN,NaN,NaN,-18.0
9,2022-06-17,'2618,長榮航,29.77,189.0,NaN,NaN,NaN,171.0,NaN,NaN,NaN,NaN,NaN,189.0,171.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-10,'2618,長榮航,35.27,304.0,NaN,NaN,35.270000,304.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-05-12,'2618,長榮航,NaN,NaN,33.46,-407.0,35.270000,-103.0,-550240.0,4584.0,4348.0,30516.0,-589688.0,0.0,0.0,NaN
2,2022-05-13,'2618,長榮航,32.33,210.0,NaN,NaN,29.499907,107.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
3,2022-05-18,'2618,長榮航,32.12,109.0,NaN,NaN,30.822083,216.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
4,2022-05-25,'2618,長榮航,NaN,NaN,32.75,-232.0,30.822083,-16.0,102060.0,3204.0,3248.0,22794.0,72814.0,0.0,0.0,NaN
5,2022-06-06,'2618,長榮航,35.13,163.0,NaN,NaN,35.598889,147.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
6,2022-06-13,'2618,長榮航,NaN,NaN,32.68,-159.0,35.598889,-12.0,89040.0,2183.0,2221.0,15588.0,69048.0,NaN,0.0,NaN
7,2022-06-14,'2618,長榮航,32.08,130.0,NaN,NaN,31.722147,118.0,NaN,NaN,NaN,NaN,NaN,130.0,130.0,NaN
8,2022-06-16,'2618,長榮航,NaN,NaN,32.78,-136.0,31.722147,-18.0,-319600.0,2042.0,1906.0,13374.0,-336922.0,NaN,130.0,NaN
9,2022-06-17,'2618,長榮航,29.77,189.0,NaN,NaN,29.564511,171.0,NaN,NaN,NaN,NaN,NaN,189.0,319.0,NaN

'1815

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-10,'1815,富喬,NaN,NaN,13.0,-200.0,NaN,-200.0,NaN,NaN,NaN,NaN,NaN,NaN,-200.0
1,2022-05-23,'1815,富喬,NaN,NaN,14.1,-300.0,NaN,-500.0,NaN,NaN,NaN,NaN,NaN,NaN,-500.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-10,'1815,富喬,NaN,NaN,13.0,-200.0,-0.0,-200.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-05-23,'1815,富喬,NaN,NaN,14.1,-300.0,-0.0,-500.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN

'2880

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-10,'2880,華南金,NaN,NaN,22.03,-523.0,NaN,-523.0,NaN,NaN,NaN,NaN,NaN,NaN,-523.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-10,'2880,華南金,NaN,NaN,22.03,-523.0,-0.0,-523.0,NaN,NaN,NaN,NaN,NaN,NaN,-523.0,-0.0

'3710

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-10,'3710,連展投控,NaN,NaN,10.94,-236.0,NaN,-236.0,NaN,NaN,NaN,NaN,NaN,NaN,-236.0
1,2022-05-12,'3710,連展投控,12.01,362.0,NaN,NaN,NaN,126.0,NaN,NaN,NaN,NaN,NaN,362.0,126.0
2,2022-05-18,'3710,連展投控,NaN,NaN,11.97,-148.0,NaN,-22.0,NaN,NaN,NaN,NaN,NaN,NaN,-22.0
3,2022-05-26,'3710,連展投控,NaN,NaN,11.26,-221.0,NaN,-243.0,NaN,NaN,NaN,NaN,NaN,NaN,-243.0
4,2022-05-27,'3710,連展投控,NaN,NaN,10.93,-604.0,NaN,-847.0,NaN,NaN,NaN,NaN,NaN,NaN,-847.0
5,2022-05-31,'3710,連展投控,NaN,NaN,12.29,-296.0,NaN,-1143.0,NaN,NaN,NaN,NaN,NaN,NaN,-1143.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-10,'3710,連展投控,NaN,NaN,10.94,-236.0,-0.000000,-236.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-05-12,'3710,連展投控,12.01,362.0,NaN,NaN,34.504921,126.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
2,2022-05-18,'3710,連展投控,NaN,NaN,11.97,-148.0,34.504921,-22.0,-5919.0,760.0,757.0,5315.0,-12751.0,0.0,0.0,NaN
3,2022-05-26,'3710,連展投控,NaN,NaN,11.26,-221.0,34.504921,-243.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,2022-05-27,'3710,連展投控,NaN,NaN,10.93,-604.0,34.504921,-847.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
5,2022-05-31,'3710,連展投控,NaN,NaN,12.29,-296.0,34.504921,-1143.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN

'9962

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-10,'9962,有益,NaN,NaN,16.85,-340.0,NaN,-340.0,NaN,NaN,NaN,NaN,NaN,NaN,-340.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-10,'9962,有益,NaN,NaN,16.85,-340.0,-0.0,-340.0,NaN,NaN,NaN,NaN,NaN,NaN,-340.0,-0.0

'6111

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-11,'6111,大宇資,NaN,NaN,80.03,-242.0,NaN,-242.0,NaN,NaN,NaN,NaN,NaN,NaN,-242.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-11,'6111,大宇資,NaN,NaN,80.03,-242.0,-0.0,-242.0,NaN,NaN,NaN,NaN,NaN,NaN,-242.0,-0.0

'2610

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-12,'2610,華航,25.45,245.0,NaN,NaN,NaN,245.0,NaN,NaN,NaN,NaN,NaN,245.0,245.0
1,2022-05-13,'2610,華航,24.95,1093.0,NaN,NaN,NaN,1338.0,NaN,NaN,NaN,NaN,NaN,1093.0,1338.0
2,2022-05-17,'2610,華航,NaN,NaN,25.09,-969.0,NaN,369.0,NaN,NaN,NaN,NaN,NaN,NaN,369.0
3,2022-05-18,'2610,華航,25.57,199.0,NaN,NaN,NaN,568.0,NaN,NaN,NaN,NaN,NaN,199.0,568.0
4,2022-05-19,'2610,華航,NaN,NaN,24.33,-393.0,NaN,175.0,NaN,NaN,NaN,NaN,NaN,NaN,175.0
5,2022-06-17,'2610,華航,23.39,1088.0,NaN,NaN,NaN,1263.0,NaN,NaN,NaN,NaN,NaN,1088.0,1263.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-12,'2610,華航,25.45,245.0,NaN,NaN,25.450000,245.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-05-13,'2610,華航,24.95,1093.0,NaN,NaN,25.041555,1338.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
2,2022-05-17,'2610,華航,NaN,NaN,25.09,-969.0,25.041555,369.0,13161.0,10388.0,10394.0,72936.0,-80557.0,0.0,0.0,NaN
3,2022-05-18,'2610,華航,25.57,199.0,NaN,NaN,25.226697,568.0,NaN,NaN,NaN,NaN,NaN,245.0,245.0,NaN
4,2022-05-19,'2610,華航,NaN,NaN,24.33,-393.0,25.226697,175.0,-335420.0,4231.0,4087.0,28686.0,-372424.0,NaN,245.0,NaN
5,2022-06-17,'2610,華航,23.39,1088.0,NaN,NaN,23.644491,1263.0,NaN,NaN,NaN,NaN,NaN,1088.0,1333.0,NaN

'2406

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-17,'2406,國碩,21.29,305.0,NaN,NaN,NaN,305.0,NaN,NaN,NaN,NaN,NaN,305.0,305.0
1,2022-05-18,'2406,國碩,NaN,NaN,21.69,-258.0,NaN,47.0,NaN,NaN,NaN,NaN,NaN,NaN,47.0
2,2022-05-19,'2406,國碩,NaN,NaN,21.39,-165.0,NaN,-118.0,NaN,NaN,NaN,NaN,NaN,NaN,-118.0
3,2022-06-06,'2406,國碩,23.96,295.0,NaN,NaN,NaN,177.0,NaN,NaN,NaN,NaN,NaN,295.0,177.0
4,2022-06-08,'2406,國碩,NaN,NaN,22.71,-897.0,NaN,-720.0,NaN,NaN,NaN,NaN,NaN,NaN,-720.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-17,'2406,國碩,21.29,305.0,NaN,NaN,21.29,305.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-05-18,'2406,國碩,NaN,NaN,21.69,-258.0,21.29,47.0,103200.0,2348.0,2392.0,16788.0,81672.0,0.0,0.0,NaN
2,2022-05-19,'2406,國碩,NaN,NaN,21.39,-165.0,21.29,-118.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,2022-06-06,'2406,國碩,23.96,295.0,NaN,NaN,25.74,177.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
4,2022-06-08,'2406,國碩,NaN,NaN,22.71,-897.0,25.74,-720.0,-368750.0,3022.0,2864.0,20098.0,-394734.0,NaN,0.0,NaN

'1605

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-18,'1605,華新,39.05,174.0,NaN,NaN,NaN,174.0,NaN,NaN,NaN,NaN,NaN,174.0,174.0
1,2022-05-19,'1605,華新,NaN,NaN,37.68,-148.0,NaN,26.0,NaN,NaN,NaN,NaN,NaN,NaN,26.0
2,2022-05-25,'1605,華新,NaN,NaN,44.10,-470.0,NaN,-444.0,NaN,NaN,NaN,NaN,NaN,NaN,-444.0
3,2022-05-26,'1605,華新,42.98,441.0,NaN,NaN,NaN,-3.0,NaN,NaN,NaN,NaN,NaN,441.0,-3.0
4,2022-05-30,'1605,華新,48.00,1030.0,NaN,NaN,NaN,1027.0,NaN,NaN,NaN,NaN,NaN,1030.0,1027.0
5,2022-05-31,'1605,華新,NaN,NaN,48.03,-1042.0,NaN,-15.0,NaN,NaN,NaN,NaN,NaN,NaN,-15.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-18,'1605,華新,39.05,174.0,NaN,NaN,39.05000,174.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-05-19,'1605,華新,NaN,NaN,37.68,-148.0,39.05000,26.0,-202759.0,2471.0,2384.0,16730.0,-224344.0,0.0,0.0,NaN
2,2022-05-25,'1605,華新,NaN,NaN,44.10,-470.0,39.05000,-444.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,2022-05-26,'1605,華新,42.98,441.0,NaN,NaN,-538.66000,-3.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
4,2022-05-30,'1605,華新,48.00,1030.0,NaN,NaN,49.71371,1027.0,NaN,NaN,NaN,NaN,NaN,441.0,441.0,NaN
5,2022-05-31,'1605,華新,NaN,NaN,48.03,-1042.0,49.71371,-15.0,2245080.0,20436.0,21395.0,150142.0,2053107.0,NaN,441.0,NaN

'2317

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-18,'2317,鴻海,106.03,350.0,NaN,NaN,NaN,350.0,NaN,NaN,NaN,NaN,NaN,350.0,350.0
1,2022-05-19,'2317,鴻海,NaN,NaN,105.56,-419.0,NaN,-69.0,NaN,NaN,NaN,NaN,NaN,NaN,-69.0
2,2022-05-27,'2317,鴻海,110.65,265.0,NaN,NaN,NaN,196.0,NaN,NaN,NaN,NaN,NaN,265.0,196.0
3,2022-06-15,'2317,鴻海,NaN,NaN,112.04,-305.0,NaN,-109.0,NaN,NaN,NaN,NaN,NaN,NaN,-109.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-18,'2317,鴻海,106.03,350.0,NaN,NaN,106.030000,350.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-05-19,'2317,鴻海,NaN,NaN,105.56,-419.0,106.030000,-69.0,-164499.0,15865.0,15794.0,110838.0,-306996.0,0.0,0.0,NaN
2,2022-05-27,'2317,鴻海,110.65,265.0,NaN,NaN,112.276429,196.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
3,2022-06-15,'2317,鴻海,NaN,NaN,112.04,-305.0,112.276429,-109.0,368350.0,12535.0,12693.0,89072.0,254050.0,NaN,0.0,NaN

'1795

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-18,'1795,美時,NaN,NaN,124.65,-112.0,NaN,-112.0,NaN,NaN,NaN,NaN,NaN,NaN,-112.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-18,'1795,美時,NaN,NaN,124.65,-112.0,-0.0,-112.0,NaN,NaN,NaN,NaN,NaN,NaN,-112.0,-0.0

'3481

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-18,'3481,群創,NaN,NaN,13.93,-133.0,NaN,-133.0,NaN,NaN,NaN,NaN,NaN,NaN,-133.0
1,2022-05-30,'3481,群創,NaN,NaN,14.06,-148.0,NaN,-281.0,NaN,NaN,NaN,NaN,NaN,NaN,-281.0
2,2022-05-31,'3481,群創,13.96,118.0,NaN,NaN,NaN,-163.0,NaN,NaN,NaN,NaN,NaN,118.0,-163.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-18,'3481,群創,NaN,NaN,13.93,-133.0,-0.000000,-133.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-05-30,'3481,群創,NaN,NaN,14.06,-148.0,-0.000000,-281.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN
2,2022-05-31,'3481,群創,13.96,118.0,NaN,NaN,-10.106012,-163.0,NaN,NaN,NaN,NaN,NaN,118.0,118.0,NaN

'2303

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-19,'2303,聯電,NaN,NaN,50.72,-221.0,NaN,-221.0,NaN,NaN,NaN,NaN,NaN,NaN,-221.0
1,2022-05-24,'2303,聯電,49.58,150.0,NaN,NaN,NaN,-71.0,NaN,NaN,NaN,NaN,NaN,150.0,-71.0
2,2022-05-30,'2303,聯電,NaN,NaN,50.95,-224.0,NaN,-295.0,NaN,NaN,NaN,NaN,NaN,NaN,-295.0
3,2022-06-20,'2303,聯電,48.36,397.0,NaN,NaN,NaN,102.0,NaN,NaN,NaN,NaN,NaN,397.0,102.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-19,'2303,聯電,NaN,NaN,50.72,-221.0,-0.000000,-221.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-05-24,'2303,聯電,49.58,150.0,NaN,NaN,-104.746479,-71.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
2,2022-05-30,'2303,聯電,NaN,NaN,50.95,-224.0,-104.746479,-295.0,205500.0,3179.0,3267.0,22928.0,176126.0,NaN,0.0,NaN
3,2022-06-20,'2303,聯電,48.36,397.0,NaN,NaN,491.167954,102.0,NaN,NaN,NaN,NaN,NaN,397.0,397.0,NaN

'5351

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-19,'5351,鈺創,NaN,NaN,65.57,-105.0,NaN,-105.0,NaN,NaN,NaN,NaN,NaN,NaN,-105.0
1,2022-05-26,'5351,鈺創,67.93,138.0,NaN,NaN,NaN,33.0,NaN,NaN,NaN,NaN,NaN,138.0,33.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-19,'5351,鈺創,NaN,NaN,65.57,-105.0,-0.000000,-105.0,NaN,NaN,NaN,NaN,NaN,NaN,-105.0,-0.000000
1,2022-05-26,'5351,鈺創,67.93,138.0,NaN,NaN,284.070909,33.0,NaN,NaN,NaN,NaN,NaN,138.0,33.0,284.070909

'00637L

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-20,'00637L,元大滬深300正2,NaN,NaN,16.01,-115.0,NaN,-115.0,NaN,NaN,NaN,NaN,NaN,NaN,-115.0
1,2022-06-07,'00637L,元大滬深300正2,NaN,NaN,17.02,-126.0,NaN,-241.0,NaN,NaN,NaN,NaN,NaN,NaN,-241.0
2,2022-06-15,'00637L,元大滬深300正2,NaN,NaN,17.73,-107.0,NaN,-348.0,NaN,NaN,NaN,NaN,NaN,NaN,-348.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-20,'00637L,元大滬深300正2,NaN,NaN,16.01,-115.0,-0.0,-115.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-06-07,'00637L,元大滬深300正2,NaN,NaN,17.02,-126.0,-0.0,-241.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,2022-06-15,'00637L,元大滬深300正2,NaN,NaN,17.73,-107.0,-0.0,-348.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN

'2371

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-20,'2371,大同,NaN,NaN,36.01,-111.0,NaN,-111.0,NaN,NaN,NaN,NaN,NaN,NaN,-111.0
1,2022-06-15,'2371,大同,NaN,NaN,36.63,-105.0,NaN,-216.0,NaN,NaN,NaN,NaN,NaN,NaN,-216.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-20,'2371,大同,NaN,NaN,36.01,-111.0,-0.0,-111.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-06-15,'2371,大同,NaN,NaN,36.63,-105.0,-0.0,-216.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN

'2883B

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-24,'2883B,開發金乙特,8.59,100.0,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN,100.0,100.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-24,'2883B,開發金乙特,8.59,100.0,NaN,NaN,8.59,100.0,NaN,NaN,NaN,NaN,NaN,100.0,100.0,8.59

'00632R

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-24,'00632R,元大台灣50反1,NaN,NaN,5.64,-136.0,NaN,-136.0,NaN,NaN,NaN,NaN,NaN,NaN,-136.0
1,2022-06-01,'00632R,元大台灣50反1,5.44,356.0,NaN,NaN,NaN,220.0,NaN,NaN,NaN,NaN,NaN,356.0,220.0
2,2022-06-02,'00632R,元大台灣50反1,5.48,290.0,NaN,NaN,NaN,510.0,NaN,NaN,NaN,NaN,NaN,290.0,510.0
3,2022-06-06,'00632R,元大台灣50反1,5.47,216.0,NaN,NaN,NaN,726.0,NaN,NaN,NaN,NaN,NaN,216.0,726.0
4,2022-06-13,'00632R,元大台灣50反1,5.64,127.0,NaN,NaN,NaN,853.0,NaN,NaN,NaN,NaN,NaN,127.0,853.0
5,2022-06-20,'00632R,元大台灣50反1,NaN,NaN,5.80,-810.0,NaN,43.0,NaN,NaN,NaN,NaN,NaN,NaN,43.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-24,'00632R,元大台灣50反1,NaN,NaN,5.64,-136.0,-0.000000,-136.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-06-01,'00632R,元大台灣50反1,5.44,356.0,NaN,NaN,8.802909,220.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
2,2022-06-02,'00632R,元大台灣50反1,5.48,290.0,NaN,NaN,6.913412,510.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
3,2022-06-06,'00632R,元大台灣50反1,5.47,216.0,NaN,NaN,6.483967,726.0,NaN,NaN,NaN,NaN,NaN,646.0,646.0,NaN
4,2022-06-13,'00632R,元大台灣50反1,5.64,127.0,NaN,NaN,6.358312,853.0,NaN,NaN,NaN,NaN,NaN,127.0,773.0,NaN
5,2022-06-20,'00632R,元大台灣50反1,NaN,NaN,5.80,-810.0,6.358312,43.0,275078.0,1891.0,2009.0,14094.0,257084.0,NaN,773.0,NaN

'3035

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-25,'3035,智原,254.22,254.0,NaN,NaN,NaN,254.0,NaN,NaN,NaN,NaN,NaN,254.0,254.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-25,'3035,智原,254.22,254.0,NaN,NaN,254.22,254.0,NaN,NaN,NaN,NaN,NaN,254.0,254.0,254.22

'3552

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-25,'3552,同致,176.38,178.0,NaN,NaN,NaN,178.0,NaN,NaN,NaN,NaN,NaN,178.0,178.0
1,2022-05-26,'3552,同致,NaN,NaN,177.72,-185.0,NaN,-7.0,NaN,NaN,NaN,NaN,NaN,NaN,-7.0
2,2022-05-27,'3552,同致,189.53,220.0,NaN,NaN,NaN,213.0,NaN,NaN,NaN,NaN,NaN,220.0,213.0
3,2022-05-30,'3552,同致,NaN,NaN,187.07,-221.0,NaN,-8.0,NaN,NaN,NaN,NaN,NaN,NaN,-8.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-25,'3552,同致,176.38,178.0,NaN,NaN,176.38000,178.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-05-26,'3552,同致,NaN,NaN,177.72,-185.0,176.38000,-7.0,238520.0,13422.0,13524.0,94902.0,116672.0,0.0,0.0,NaN
2,2022-05-27,'3552,同致,189.53,220.0,NaN,NaN,189.96216,213.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
3,2022-05-30,'3552,同致,NaN,NaN,187.07,-221.0,189.96216,-8.0,-541200.0,17825.0,17594.0,123466.0,-700085.0,NaN,0.0,NaN

'1102

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-26,'1102,亞泥,44.88,117.0,NaN,NaN,NaN,117.0,NaN,NaN,NaN,NaN,NaN,117.0,117.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-26,'1102,亞泥,44.88,117.0,NaN,NaN,44.88,117.0,NaN,NaN,NaN,NaN,NaN,117.0,117.0,44.88

'2884

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-27,'2884,玉山金,29.26,327.0,NaN,NaN,NaN,327.0,NaN,NaN,NaN,NaN,NaN,327.0,327.0
1,2022-06-06,'2884,玉山金,29.54,106.0,NaN,NaN,NaN,433.0,NaN,NaN,NaN,NaN,NaN,106.0,433.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-27,'2884,玉山金,29.26,327.0,NaN,NaN,29.260000,327.0,NaN,NaN,NaN,NaN,NaN,327.0,327.0,29.260000
1,2022-06-06,'2884,玉山金,29.54,106.0,NaN,NaN,29.328545,433.0,NaN,NaN,NaN,NaN,NaN,106.0,433.0,29.328545

'3037

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-27,'3037,欣興,205.79,214.0,NaN,NaN,NaN,214.0,NaN,NaN,NaN,NaN,NaN,214.0,214.0
1,2022-05-30,'3037,欣興,NaN,NaN,210.13,-233.0,NaN,-19.0,NaN,NaN,NaN,NaN,NaN,NaN,-19.0
2,2022-06-02,'3037,欣興,203.85,218.0,NaN,NaN,NaN,199.0,NaN,NaN,NaN,NaN,NaN,218.0,199.0
3,2022-06-09,'3037,欣興,NaN,NaN,208.09,-196.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0
4,2022-06-14,'3037,欣興,200.97,753.0,NaN,NaN,NaN,756.0,NaN,NaN,NaN,NaN,NaN,753.0,756.0
5,2022-06-16,'3037,欣興,173.73,293.0,NaN,NaN,NaN,1049.0,NaN,NaN,NaN,NaN,NaN,293.0,1049.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-27,'3037,欣興,205.79,214.0,NaN,NaN,205.790000,214.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-05-30,'3037,欣興,NaN,NaN,210.13,-233.0,205.790000,-19.0,928760.0,18827.0,19224.0,134903.0,755806.0,0.0,0.0,NaN
2,2022-06-02,'3037,欣興,203.85,218.0,NaN,NaN,203.664774,199.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
3,2022-06-09,'3037,欣興,NaN,NaN,208.09,-196.0,203.664774,3.0,831040.0,17081.0,17436.0,122357.0,674166.0,NaN,0.0,NaN
4,2022-06-14,'3037,欣興,200.97,753.0,NaN,NaN,200.980694,756.0,NaN,NaN,NaN,NaN,NaN,753.0,753.0,NaN
5,2022-06-16,'3037,欣興,173.73,293.0,NaN,NaN,193.369203,1049.0,NaN,NaN,NaN,NaN,NaN,293.0,1046.0,NaN

'8069

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-27,'8069,元太,207.79,385.0,NaN,NaN,NaN,385.0,NaN,NaN,NaN,NaN,NaN,385.0,385.0
1,2022-05-30,'8069,元太,NaN,NaN,213.66,-399.0,NaN,-14.0,NaN,NaN,NaN,NaN,NaN,NaN,-14.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-27,'8069,元太,207.79,385.0,NaN,NaN,207.79,385.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-05-30,'8069,元太,NaN,NaN,213.66,-399.0,207.79,-14.0,2259950.0,34200.0,35166.0,246777.0,1943807.0,NaN,0.0,NaN

'3532

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-27,'3532,台勝科,NaN,NaN,246.02,-116.0,NaN,-116.0,NaN,NaN,NaN,NaN,NaN,NaN,-116.0
1,2022-06-09,'3532,台勝科,NaN,NaN,246.29,-116.0,NaN,-232.0,NaN,NaN,NaN,NaN,NaN,NaN,-232.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-27,'3532,台勝科,NaN,NaN,246.02,-116.0,-0.0,-116.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-06-09,'3532,台勝科,NaN,NaN,246.29,-116.0,-0.0,-232.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN

'3520

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-30,'3520,華盈,18.86,158.0,NaN,NaN,NaN,158.0,NaN,NaN,NaN,NaN,NaN,158.0,158.0
1,2022-06-06,'3520,華盈,NaN,NaN,16.99,-290.0,NaN,-132.0,NaN,NaN,NaN,NaN,NaN,NaN,-132.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-30,'3520,華盈,18.86,158.0,NaN,NaN,18.86,158.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-06-06,'3520,華盈,NaN,NaN,16.99,-290.0,18.86,-132.0,-295460.0,1274.0,1148.0,8053.0,-305935.0,NaN,0.0,NaN

'4433

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-30,'4433,興采,NaN,NaN,37.14,-228.0,NaN,-228.0,NaN,NaN,NaN,NaN,NaN,NaN,-228.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-30,'4433,興采,NaN,NaN,37.14,-228.0,-0.0,-228.0,NaN,NaN,NaN,NaN,NaN,NaN,-228.0,-0.0

'5258

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-31,'5258,虹堡,45.55,253.0,NaN,NaN,NaN,253.0,NaN,NaN,NaN,NaN,NaN,253.0,253.0
1,2022-06-01,'5258,虹堡,51.16,145.0,NaN,NaN,NaN,398.0,NaN,NaN,NaN,NaN,NaN,145.0,398.0
2,2022-06-06,'5258,虹堡,NaN,NaN,60.46,-398.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-31,'5258,虹堡,45.55,253.0,NaN,NaN,45.550000,253.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.00
1,2022-06-01,'5258,虹堡,51.16,145.0,NaN,NaN,47.593844,398.0,NaN,NaN,NaN,NaN,NaN,253.0,253.0,51.16
2,2022-06-06,'5258,虹堡,NaN,NaN,60.46,-398.0,47.593844,0.0,5120730.0,8098.0,10287.0,72189.0,5030156.0,NaN,253.0,51.16

'6163

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-31,'6163,華電網,14.97,108.0,NaN,NaN,NaN,108.0,NaN,NaN,NaN,NaN,NaN,108.0,108.0
1,2022-06-06,'6163,華電網,NaN,NaN,15.19,-108.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-31,'6163,華電網,14.97,108.0,NaN,NaN,14.97,108.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-06-06,'6163,華電網,NaN,NaN,15.19,-108.0,14.97,0.0,23759.0,691.0,701.0,4922.0,17445.0,NaN,0.0,NaN

'00891

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-05-31,'00891,中信關鍵半導體,NaN,NaN,13.8,-111.0,NaN,-111.0,NaN,NaN,NaN,NaN,NaN,NaN,-111.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-05-31,'00891,中信關鍵半導體,NaN,NaN,13.8,-111.0,-0.0,-111.0,NaN,NaN,NaN,NaN,NaN,NaN,-111.0,-0.0

'2405

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-06-01,'2405,浩鑫,13.6,102.0,NaN,NaN,NaN,102.0,NaN,NaN,NaN,NaN,NaN,102.0,102.0
1,2022-06-02,'2405,浩鑫,NaN,NaN,13.55,-100.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-06-01,'2405,浩鑫,13.6,102.0,NaN,NaN,13.6,102.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-06-02,'2405,浩鑫,NaN,NaN,13.55,-100.0,13.6,2.0,-4999.0,581.0,579.0,4065.0,-10224.0,NaN,0.0,NaN

'2614

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-06-01,'2614,東森,27.20,357.0,NaN,NaN,NaN,357.0,NaN,NaN,NaN,NaN,NaN,357.0,357.0
1,2022-06-02,'2614,東森,26.81,338.0,NaN,NaN,NaN,695.0,NaN,NaN,NaN,NaN,NaN,338.0,695.0
2,2022-06-06,'2614,東森,27.24,226.0,NaN,NaN,NaN,921.0,NaN,NaN,NaN,NaN,NaN,226.0,921.0
3,2022-06-07,'2614,東森,27.70,118.0,NaN,NaN,NaN,1039.0,NaN,NaN,NaN,NaN,NaN,118.0,1039.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-06-01,'2614,東森,27.20,357.0,NaN,NaN,27.200000,357.0,NaN,NaN,NaN,NaN,NaN,357.0,357.0,27.200000
1,2022-06-02,'2614,東森,26.81,338.0,NaN,NaN,27.010331,695.0,NaN,NaN,NaN,NaN,NaN,338.0,695.0,27.010331
2,2022-06-06,'2614,東森,27.24,226.0,NaN,NaN,27.066688,921.0,NaN,NaN,NaN,NaN,NaN,226.0,921.0,27.066688
3,2022-06-07,'2614,東森,27.70,118.0,NaN,NaN,27.138614,1039.0,NaN,NaN,NaN,NaN,NaN,118.0,1039.0,27.138614

'2834

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-06-01,'2834,臺企銀,12.32,187.0,NaN,NaN,NaN,187.0,NaN,NaN,NaN,NaN,NaN,187.0,187.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-06-01,'2834,臺企銀,12.32,187.0,NaN,NaN,12.32,187.0,NaN,NaN,NaN,NaN,NaN,187.0,187.0,12.32

'4906

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-06-01,'4906,正文,29.71,1028.0,NaN,NaN,NaN,1028.0,NaN,NaN,NaN,NaN,NaN,1028.0,1028.0
1,2022-06-02,'4906,正文,30.18,729.0,NaN,NaN,NaN,1757.0,NaN,NaN,NaN,NaN,NaN,729.0,1757.0
2,2022-06-08,'4906,正文,NaN,NaN,31.19,-421.0,NaN,1336.0,NaN,NaN,NaN,NaN,NaN,NaN,1336.0
3,2022-06-10,'4906,正文,NaN,NaN,31.34,-364.0,NaN,972.0,NaN,NaN,NaN,NaN,NaN,NaN,972.0
4,2022-06-16,'4906,正文,NaN,NaN,31.23,-128.0,NaN,844.0,NaN,NaN,NaN,NaN,NaN,NaN,844.0
5,2022-06-17,'4906,正文,NaN,NaN,30.06,-804.0,NaN,40.0,NaN,NaN,NaN,NaN,NaN,NaN,40.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-06-01,'4906,正文,29.71,1028.0,NaN,NaN,29.710000,1028.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-06-02,'4906,正文,30.18,729.0,NaN,NaN,29.905009,1757.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
2,2022-06-08,'4906,正文,NaN,NaN,31.19,-421.0,29.905009,1336.0,623080.0,5347.0,5613.0,39393.0,572727.0,0.0,0.0,NaN
3,2022-06-10,'4906,正文,NaN,NaN,31.34,-364.0,29.905009,972.0,422240.0,4696.0,4877.0,34223.0,378444.0,0.0,0.0,NaN
4,2022-06-16,'4906,正文,NaN,NaN,31.23,-128.0,29.905009,844.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
5,2022-06-17,'4906,正文,NaN,NaN,30.06,-804.0,29.905009,40.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN

'5272

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-06-01,'5272,笙科,NaN,NaN,46.67,-135.0,NaN,-135.0,NaN,NaN,NaN,NaN,NaN,NaN,-135.0
1,2022-06-08,'5272,笙科,NaN,NaN,43.90,-160.0,NaN,-295.0,NaN,NaN,NaN,NaN,NaN,NaN,-295.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-06-01,'5272,笙科,NaN,NaN,46.67,-135.0,-0.0,-135.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-06-08,'5272,笙科,NaN,NaN,43.90,-160.0,-0.0,-295.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN

'1560

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-06-02,'1560,中砂,152.74,319.0,NaN,NaN,NaN,319.0,NaN,NaN,NaN,NaN,NaN,319.0,319.0
1,2022-06-08,'1560,中砂,NaN,NaN,154.06,-381.0,NaN,-62.0,NaN,NaN,NaN,NaN,NaN,NaN,-62.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-06-02,'1560,中砂,152.74,319.0,NaN,NaN,152.74,319.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-06-08,'1560,中砂,NaN,NaN,154.06,-381.0,152.74,-62.0,421079.0,20830.0,21010.0,147435.0,231804.0,NaN,0.0,NaN

'2915

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-06-02,'2915,潤泰全,NaN,NaN,84.31,-171.0,NaN,-171.0,NaN,NaN,NaN,NaN,NaN,NaN,-171.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-06-02,'2915,潤泰全,NaN,NaN,84.31,-171.0,-0.0,-171.0,NaN,NaN,NaN,NaN,NaN,NaN,-171.0,-0.0

'3558

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-06-02,'3558,神準,NaN,NaN,219.68,-139.0,NaN,-139.0,NaN,NaN,NaN,NaN,NaN,NaN,-139.0
1,2022-06-06,'3558,神準,NaN,NaN,227.81,-100.0,NaN,-239.0,NaN,NaN,NaN,NaN,NaN,NaN,-239.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-06-02,'3558,神準,NaN,NaN,219.68,-139.0,-0.0,-139.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-06-06,'3558,神準,NaN,NaN,227.81,-100.0,-0.0,-239.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN

'6605

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-06-06,'6605,帝寶,70.87,133.0,NaN,NaN,NaN,133.0,NaN,NaN,NaN,NaN,NaN,133.0,133.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-06-06,'6605,帝寶,70.87,133.0,NaN,NaN,70.87,133.0,NaN,NaN,NaN,NaN,NaN,133.0,133.0,70.87

'2887

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-06-06,'2887,台新金,NaN,NaN,17.79,-130.0,NaN,-130.0,NaN,NaN,NaN,NaN,NaN,NaN,-130.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-06-06,'2887,台新金,NaN,NaN,17.79,-130.0,-0.0,-130.0,NaN,NaN,NaN,NaN,NaN,NaN,-130.0,-0.0

'2888

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-06-06,'2888,新光金,NaN,NaN,9.78,-109.0,NaN,-109.0,NaN,NaN,NaN,NaN,NaN,NaN,-109.0
1,2022-06-16,'2888,新光金,NaN,NaN,9.12,-128.0,NaN,-237.0,NaN,NaN,NaN,NaN,NaN,NaN,-237.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-06-06,'2888,新光金,NaN,NaN,9.78,-109.0,-0.0,-109.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-06-16,'2888,新光金,NaN,NaN,9.12,-128.0,-0.0,-237.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN

'3645

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-06-06,'3645,達邁,NaN,NaN,59.08,-189.0,NaN,-189.0,NaN,NaN,NaN,NaN,NaN,NaN,-189.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-06-06,'3645,達邁,NaN,NaN,59.08,-189.0,-0.0,-189.0,NaN,NaN,NaN,NaN,NaN,NaN,-189.0,-0.0

'4721

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-06-08,'4721,美琪瑪,151.93,1014.0,NaN,NaN,NaN,1014.0,NaN,NaN,NaN,NaN,NaN,1014.0,1014.0
1,2022-06-09,'4721,美琪瑪,NaN,NaN,153.67,-683.0,NaN,331.0,NaN,NaN,NaN,NaN,NaN,NaN,331.0
2,2022-06-10,'4721,美琪瑪,NaN,NaN,153.86,-333.0,NaN,-2.0,NaN,NaN,NaN,NaN,NaN,NaN,-2.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-06-08,'4721,美琪瑪,151.93,1014.0,NaN,NaN,151.93,1014.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-06-09,'4721,美琪瑪,NaN,NaN,153.67,-683.0,151.93,331.0,1188419.0,44361.0,44869.0,314870.0,784319.0,0.0,0.0,NaN
2,2022-06-10,'4721,美琪瑪,NaN,NaN,153.86,-333.0,151.93,-2.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN

'6217

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-06-08,'6217,中探針,68.9,122.0,NaN,NaN,NaN,122.0,NaN,NaN,NaN,NaN,NaN,122.0,122.0
1,2022-06-13,'6217,中探針,NaN,NaN,67.01,-102.0,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,20.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-06-08,'6217,中探針,68.9,122.0,NaN,NaN,68.9,122.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-06-13,'6217,中探針,NaN,NaN,67.01,-102.0,68.9,20.0,-192780.0,3004.0,2922.0,20505.0,-219211.0,NaN,0.0,NaN

'00671R

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-06-10,'00671R,富邦NASDAQ反1,6.2,115.0,NaN,NaN,NaN,115.0,NaN,NaN,NaN,NaN,NaN,115.0,115.0
1,2022-06-17,'00671R,富邦NASDAQ反1,NaN,NaN,6.74,-114.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,2022-06-20,'00671R,富邦NASDAQ反1,NaN,NaN,6.66,-194.0,NaN,-193.0,NaN,NaN,NaN,NaN,NaN,NaN,-193.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-06-10,'00671R,富邦NASDAQ反1,6.2,115.0,NaN,NaN,6.2,115.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-06-17,'00671R,富邦NASDAQ反1,NaN,NaN,6.74,-114.0,6.2,1.0,61560.0,302.0,328.0,2305.0,58625.0,0.0,0.0,NaN
2,2022-06-20,'00671R,富邦NASDAQ反1,NaN,NaN,6.66,-194.0,6.2,-193.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN

'00878

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-06-13,'00878,國泰永續高股息,17.24,113.0,NaN,NaN,NaN,113.0,NaN,NaN,NaN,NaN,NaN,113.0,113.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-06-13,'00878,國泰永續高股息,17.24,113.0,NaN,NaN,17.24,113.0,NaN,NaN,NaN,NaN,NaN,113.0,113.0,17.24

'2603

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-06-13,'2603,長榮,131.88,121.0,NaN,NaN,NaN,121.0,NaN,NaN,NaN,NaN,NaN,121.0,121.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-06-13,'2603,長榮,131.88,121.0,NaN,NaN,131.88,121.0,NaN,NaN,NaN,NaN,NaN,121.0,121.0,131.88

'2609

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-06-13,'2609,陽明,121.14,100.0,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN,100.0,100.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-06-13,'2609,陽明,121.14,100.0,NaN,NaN,121.14,100.0,NaN,NaN,NaN,NaN,NaN,100.0,100.0,121.14

'4908

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-06-13,'4908,前鼎,37.57,182.0,NaN,NaN,NaN,182.0,NaN,NaN,NaN,NaN,NaN,182.0,182.0
1,2022-06-14,'4908,前鼎,NaN,NaN,34.99,-121.0,NaN,61.0,NaN,NaN,NaN,NaN,NaN,NaN,61.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-06-13,'4908,前鼎,37.57,182.0,NaN,NaN,37.57,182.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-06-14,'4908,前鼎,NaN,NaN,34.99,-121.0,37.57,61.0,-312179.0,1943.0,1810.0,12701.0,-328633.0,NaN,0.0,NaN

'6026

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-06-14,'6026,福邦證,16.98,100.0,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN,100.0,100.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-06-14,'6026,福邦證,16.98,100.0,NaN,NaN,16.98,100.0,NaN,NaN,NaN,NaN,NaN,100.0,100.0,16.98

'2027

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-06-14,'2027,大成鋼,NaN,NaN,40.39,-103.0,NaN,-103.0,NaN,NaN,NaN,NaN,NaN,NaN,-103.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-06-14,'2027,大成鋼,NaN,NaN,40.39,-103.0,-0.0,-103.0,NaN,NaN,NaN,NaN,NaN,NaN,-103.0,-0.0

'2515

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-06-15,'2515,中工,NaN,NaN,8.99,-140.0,NaN,-140.0,NaN,NaN,NaN,NaN,NaN,NaN,-140.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-06-15,'2515,中工,NaN,NaN,8.99,-140.0,-0.0,-140.0,NaN,NaN,NaN,NaN,NaN,NaN,-140.0,-0.0

'6546

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-06-15,'6546,正基,NaN,NaN,153.22,-193.0,NaN,-193.0,NaN,NaN,NaN,NaN,NaN,NaN,-193.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-06-15,'6546,正基,NaN,NaN,153.22,-193.0,-0.0,-193.0,NaN,NaN,NaN,NaN,NaN,NaN,-193.0,-0.0

'1524

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-06-16,'1524,耿鼎,21.3,1485.0,NaN,NaN,NaN,1485.0,NaN,NaN,NaN,NaN,NaN,1485.0,1485.0
1,2022-06-20,'1524,耿鼎,NaN,NaN,20.49,-1484.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-06-16,'1524,耿鼎,21.3,1485.0,NaN,NaN,21.3,1485.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-06-20,'1524,耿鼎,NaN,NaN,20.49,-1484.0,21.3,1.0,-1202040.0,13513.0,12999.0,91221.0,-1319773.0,NaN,0.0,NaN

'2385

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-06-16,'2385,群光,76.91,232.0,NaN,NaN,NaN,232.0,NaN,NaN,NaN,NaN,NaN,232.0,232.0
1,2022-06-20,'2385,群光,NaN,NaN,73.89,-199.0,NaN,33.0,NaN,NaN,NaN,NaN,NaN,NaN,33.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-06-16,'2385,群光,76.91,232.0,NaN,NaN,76.91,232.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2022-06-20,'2385,群光,NaN,NaN,73.89,-199.0,76.91,33.0,-600979.0,6543.0,6286.0,44112.0,-657920.0,NaN,0.0,NaN

'4931

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-06-16,'4931,新盛力,45.3,145.0,NaN,NaN,NaN,145.0,NaN,NaN,NaN,NaN,NaN,145.0,145.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-06-16,'4931,新盛力,45.3,145.0,NaN,NaN,45.3,145.0,NaN,NaN,NaN,NaN,NaN,145.0,145.0,45.3

'2301

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-06-17,'2301,光寶科,59.74,105.0,NaN,NaN,NaN,105.0,NaN,NaN,NaN,NaN,NaN,105.0,105.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-06-17,'2301,光寶科,59.74,105.0,NaN,NaN,59.74,105.0,NaN,NaN,NaN,NaN,NaN,105.0,105.0,59.74

'2634

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-06-20,'2634,漢翔,36.5,228.0,NaN,NaN,NaN,228.0,NaN,NaN,NaN,NaN,NaN,228.0,228.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-06-20,'2634,漢翔,36.5,228.0,NaN,NaN,36.5,228.0,NaN,NaN,NaN,NaN,NaN,228.0,228.0,36.5

'00669R

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-06-20,'00669R,國泰美國道瓊反1,NaN,NaN,8.95,-116.0,NaN,-116.0,NaN,NaN,NaN,NaN,NaN,NaN,-116.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-06-20,'00669R,國泰美國道瓊反1,NaN,NaN,8.95,-116.0,-0.0,-116.0,NaN,NaN,NaN,NaN,NaN,NaN,-116.0,-0.0

'00893

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-06-20,'00893,國泰智能電動車,NaN,NaN,12.49,-101.0,NaN,-101.0,NaN,NaN,NaN,NaN,NaN,NaN,-101.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-06-20,'00893,國泰智能電動車,NaN,NaN,12.49,-101.0,-0.0,-101.0,NaN,NaN,NaN,NaN,NaN,NaN,-101.0,-0.0

'6226

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-06-20,'6226,光鼎,NaN,NaN,14.25,-103.0,NaN,-103.0,NaN,NaN,NaN,NaN,NaN,NaN,-103.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-06-20,'6226,光鼎,NaN,NaN,14.25,-103.0,-0.0,-103.0,NaN,NaN,NaN,NaN,NaN,NaN,-103.0,-0.0

'8155

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量
0,2022-06-20,'8155,博智,NaN,NaN,130.0,-226.0,NaN,-226.0,NaN,NaN,NaN,NaN,NaN,NaN,-226.0

,交易日期,代號,名稱,買均,買量,賣均,賣量,累計買均,累計買量,損益,進場手續費,出場手續費,交易稅,淨損益,餘量,餘累買量,餘買均
0,2022-06-20,'8155,博智,NaN,NaN,130.0,-226.0,-0.0,-226.0,NaN,NaN,NaN,NaN,NaN,NaN,-226.0,-0.0

# Version 1

In [72]:
for i, key in enumerate(keys):
    print(key)
    try:
        tmp_ob = ob_dfs[key].copy(deep=True)
        tmp_os = os_dfs[key].copy(deep=True)

        if not tmp_ob.empty:
            tmp_ob['Date'] = date
            for row in tmp_ob.itertuples():
                if not changeType(row.Qty):continue
                Agg_df.loc[key, str(row.Ticker).replace('\'','') + "_" + row.Name] = changeType(row.Qty)
        if not tmp_os.empty:
            tmp_os['Date'] = date
            for row in tmp_os.itertuples():
                if not changeType(row.Qty):continue
                Agg_df.loc[key, str(row.Ticker).replace('\'','') + "_" + row.Name] = changeType(row.Qty)
    except Exception as e:
        print(e, row)
        break

2021-01-04 00:00:00
2021-01-05 00:00:00
2021-01-06 00:00:00
2021-01-07 00:00:00
2021-01-08 00:00:00
2021-01-11 00:00:00
2021-01-12 00:00:00
2021-01-13 00:00:00
2021-01-14 00:00:00
2021-01-15 00:00:00
2021-01-18 00:00:00
2021-01-19 00:00:00
2021-01-20 00:00:00
2021-01-21 00:00:00
2021-01-22 00:00:00
2021-01-25 00:00:00
2021-01-26 00:00:00
2021-01-27 00:00:00
2021-01-28 00:00:00
2021-01-29 00:00:00
2021-02-01 00:00:00
2021-02-02 00:00:00
2021-02-03 00:00:00
2021-02-04 00:00:00
2021-02-05 00:00:00
2021-02-17 00:00:00
2021-02-18 00:00:00
2021-02-19 00:00:00
2021-02-22 00:00:00
2021-02-23 00:00:00
2021-02-24 00:00:00
2021-02-25 00:00:00
2021-02-26 00:00:00
2021-03-02 00:00:00
2021-03-03 00:00:00
2021-03-04 00:00:00
2021-03-05 00:00:00
2021-03-08 00:00:00
2021-03-09 00:00:00
2021-03-10 00:00:00
2021-03-11 00:00:00
2021-03-12 00:00:00
2021-03-15 00:00:00
2021-03-16 00:00:00
2021-03-17 00:00:00
2021-03-18 00:00:00
2021-03-19 00:00:00
2021-03-22 00:00:00
2021-03-23 00:00:00
2021-03-24 00:00:00
2021-03-25 00:00:00
2021-03-26 00:00:00
2021-03-29 00:00:00
2021-03-30 00:00:00
2021-03-31 00:00:00
2021-04-01 00:00:00
2021-04-06 00:00:00
2021-04-07 00:00:00
2021-04-08 00:00:00
2021-04-09 00:00:00
2021-04-12 00:00:00
2021-04-13 00:00:00
2021-04-14 00:00:00
2021-04-15 00:00:00
2021-04-16 00:00:00
2021-04-19 00:00:00
2021-04-20 00:00:00
2021-04-21 00:00:00
2021-04-22 00:00:00
2021-04-23 00:00:00
2021-04-26 00:00:00
2021-04-27 00:00:00
2021-04-28 00:00:00
2021-04-29 00:00:00
2021-05-03 00:00:00
2021-05-04 00:00:00
2021-05-05 00:00:00
2021-05-06 00:00:00
2021-05-07 00:00:00
2021-05-10 00:00:00
2021-05-11 00:00:00
2021-05-12 00:00:00
2021-05-13 00:00:00
2021-05-14 00:00:00
2021-05-17 00:00:00
2021-05-18 00:00:00
2021-05-19 00:00:00
2021-05-20 00:00:00
2021-05-21 00:00:00
2021-05-24 00:00:00
2021-05-25 00:00:00
2021-05-26 00:00:00
2021-05-27 00:00:00
2021-05-28 00:00:00
2021-05-31 00:00:00
2021-06-01 00:00:00
2021-06-02 00:00:00
2021-06-03 00:00:00
2021-06-04 00:00:00
2021-06-07 00:00:00
2021-06-08 00:00:00
2021-06-09 00:00:00
2021-06-10 00:00:00
2021-06-11 00:00:00
2021-06-15 00:00:00
2021-06-16 00:00:00
2021-06-17 00:00:00
2021-06-18 00:00:00
2021-06-21 00:00:00
2021-06-22 00:00:00
2021-06-23 00:00:00
2021-06-24 00:00:00
2021-06-25 00:00:00
2021-06-28 00:00:00
2021-06-29 00:00:00
2021-06-30 00:00:00
2021-07-01 00:00:00
2021-07-02 00:00:00
2021-07-05 00:00:00
2021-07-06 00:00:00
2021-07-07 00:00:00
2021-07-08 00:00:00
2021-07-09 00:00:00
2021-07-12 00:00:00
2021-07-13 00:00:00
2021-07-14 00:00:00
2021-07-15 00:00:00
2021-07-16 00:00:00
2021-07-19 00:00:00
2021-07-20 00:00:00
2021-07-21 00:00:00
2021-07-22 00:00:00
2021-07-23 00:00:00
2021-07-26 00:00:00
2021-07-27 00:00:00
2021-07-28 00:00:00
2021-07-29 00:00:00
2021-07-30 00:00:00
2021-08-02 00:00:00
2021-08-03 00:00:00
2021-08-04 00:00:00
2021-08-05 00:00:00
2021-08-06 00:00:00
2021-08-09 00:00:00
2021-08-10 00:00:00
2021-08-11 00:00:00
2021-08-12 00:00:00
2021-08-13 00:00:00
2021-08-16 00:00:00
2021-08-17 00:00:00
2021-08-18 00:00:00
2021-08-19 00:00:00
2021-08-20 00:00:00
2021-08-23 00:00:00
2021-08-24 00:00:00
2021-08-25 00:00:00
2021-08-26 00:00:00
2021-08-27 00:00:00
2021-08-30 00:00:00
2021-08-31 00:00:00
2021-09-01 00:00:00
2021-09-02 00:00:00
2021-09-03 00:00:00
2021-09-06 00:00:00
2021-09-07 00:00:00
2021-09-08 00:00:00
2021-09-09 00:00:00
2021-09-10 00:00:00
2021-09-13 00:00:00
2021-09-14 00:00:00
2021-09-15 00:00:00
2021-09-16 00:00:00
2021-09-17 00:00:00
2021-09-22 00:00:00
2021-09-23 00:00:00
2021-09-24 00:00:00
2021-09-27 00:00:00
2021-09-28 00:00:00
2021-09-29 00:00:00
2021-09-30 00:00:00
2021-10-01 00:00:00
2021-10-04 00:00:00
2021-10-05 00:00:00
2021-10-06 00:00:00
2021-10-07 00:00:00
2021-10-08 00:00:00
2021-10-12 00:00:00
2021-10-13 00:00:00
2021-10-14 00:00:00
2021-10-15 00:00:00
2021-10-18 00:00:00
2021-10-19 00:00:00
2021-10-20 00:00:00
2021-10-21 00:00:00
2021-10-22 00:00:00
2021-10-25 00:00:00
2021-10-26 00:00:00
2021-10-27 00:00:00
2021-10-28 00:00:00
2021-10-29 00:00:00
2021-11-01 00:00:00
2021-11-02 00:00:00
2021-11-03 00:00:00
2021-11-04 00:00:00
2021-11-05 00:00:00
2021-11-08 00:00:00
2021-11-09 00:00:00
2021-11-10 00:00:00
2021-11-11 00:00:00
2021-11-12 00:00:00
2021-11-15 00:00:00
2021-11-16 00:00:00
2021-11-17 00:00:00
2021-11-18 00:00:00
2021-11-19 00:00:00
2021-11-22 00:00:00
2021-11-23 00:00:00
2021-11-24 00:00:00
2021-11-25 00:00:00
2021-11-26 00:00:00
2021-11-29 00:00:00
2021-11-30 00:00:00
2021-12-01 00:00:00
2021-12-02 00:00:00
2021-12-03 00:00:00
2021-12-06 00:00:00
2021-12-07 00:00:00
2021-12-08 00:00:00
2021-12-09 00:00:00
2021-12-10 00:00:00
2021-12-13 00:00:00
2021-12-14 00:00:00
2021-12-15 00:00:00
2021-12-16 00:00:00
2021-12-17 00:00:00
2021-12-20 00:00:00
2021-12-21 00:00:00
2021-12-22 00:00:00
2021-12-23 00:00:00
2021-12-24 00:00:00
2021-12-27 00:00:00
2021-12-28 00:00:00
2021-12-29 00:00:00
2021-12-30 00:00:00
2022-01-03 00:00:00
2022-01-04 00:00:00
2022-01-05 00:00:00
2022-01-06 00:00:00
2022-01-07 00:00:00
2022-01-10 00:00:00
2022-01-11 00:00:00
2022-01-12 00:00:00
2022-01-13 00:00:00
2022-01-14 00:00:00
2022-01-17 00:00:00
2022-01-18 00:00:00
2022-01-19 00:00:00
2022-01-20 00:00:00
2022-01-21 00:00:00
2022-01-24 00:00:00
2022-01-25 00:00:00
2022-01-26 00:00:00
2022-02-07 00:00:00
2022-02-08 00:00:00
2022-02-09 00:00:00
2022-02-10 00:00:00
2022-02-11 00:00:00
2022-02-14 00:00:00
2022-02-15 00:00:00
2022-02-16 00:00:00
2022-02-17 00:00:00
2022-02-18 00:00:00
2022-02-21 00:00:00
2022-02-22 00:00:00
2022-02-23 00:00:00
2022-02-24 00:00:00
2022-02-25 00:00:00
2022-03-01 00:00:00
2022-03-02 00:00:00
2022-03-03 00:00:00
2022-03-04 00:00:00
2022-03-07 00:00:00
2022-03-08 00:00:00
2022-03-09 00:00:00
2022-03-10 00:00:00
2022-03-11 00:00:00
2022-03-14 00:00:00
2022-03-15 00:00:00
2022-03-16 00:00:00
2022-03-17 00:00:00
2022-03-18 00:00:00
2022-03-21 00:00:00
2022-03-22 00:00:00
2022-03-23 00:00:00
2022-03-24 00:00:00
2022-03-25 00:00:00
2022-03-28 00:00:00
2022-03-29 00:00:00
2022-03-30 00:00:00
2022-03-31 00:00:00
2022-04-01 00:00:00
2022-04-06 00:00:00
2022-04-07 00:00:00
2022-04-08 00:00:00
2022-04-11 00:00:00
2022-04-12 00:00:00
2022-04-13 00:00:00
2022-04-14 00:00:00
2022-04-15 00:00:00
2022-04-18 00:00:00
2022-04-19 00:00:00
2022-04-20 00:00:00
2022-04-21 00:00:00
2022-04-22 00:00:00
2022-04-25 00:00:00
2022-04-26 00:00:00
2022-04-27 00:00:00
2022-04-28 00:00:00
2022-04-29 00:00:00
2022-05-03 00:00:00
2022-05-04 00:00:00
2022-05-05 00:00:00
2022-05-06 00:00:00
2022-05-09 00:00:00
2022-05-10 00:00:00
2022-05-11 00:00:00
2022-05-12 00:00:00
2022-05-13 00:00:00
2022-05-16 00:00:00
2022-05-17 00:00:00
2022-05-18 00:00:00
2022-05-19 00:00:00
2022-05-20 00:00:00
2022-05-23 00:00:00
2022-05-24 00:00:00
2022-05-25 00:00:00
2022-05-26 00:00:00
2022-05-27 00:00:00
2022-05-30 00:00:00
2022-05-31 00:00:00
2022-06-01 00:00:00
2022-06-02 00:00:00
2022-06-06 00:00:00
2022-06-07 00:00:00
2022-06-08 00:00:00
2022-06-09 00:00:00
2022-06-10 00:00:00
2022-06-13 00:00:00
2022-06-14 00:00:00

In [73]:
Agg_df#.dropna('all')#[~Agg_df.nan()]

,2603_長榮,2890_永豐金,2317_鴻海,2609_陽明,3006_晶豪科,8021_尖點,2303_聯電,2344_華邦電,3231_緯創,2328_廣宇,...,3520_華盈,4433_興采,5258_虹堡,6163_華電網,5272_笙科,2915_潤泰全,3558_神準,6605_帝寶,00878_國泰永續高股息,4908_前鼎
Date,,,,,,,,,,,,,,,,,,,,,
2021-01-04,1937.0,2380.0,-271.0,-3225.0,-964.0,-665.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-05,-7153.0,1100.0,NaN,503.0,NaN,NaN,3076.0,2014.0,308.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-06,480.0,NaN,NaN,1322.0,NaN,NaN,-1977.0,NaN,NaN,1548.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-07,3085.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1625.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-08,-3005.0,233.0,NaN,702.0,NaN,NaN,-250.0,1536.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-160.0,NaN,NaN,NaN,NaN,NaN
2022-06-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-198.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-13,121.0,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,113.0,182.0
2022-06-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-121.0

In [75]:
Agg_df.append(Agg_df.fillna(0).cumsum(), ignore_index=True)

,2603_長榮,2890_永豐金,2317_鴻海,2609_陽明,3006_晶豪科,8021_尖點,2303_聯電,2344_華邦電,3231_緯創,2328_廣宇,...,3520_華盈,4433_興采,5258_虹堡,6163_華電網,5272_笙科,2915_潤泰全,3558_神準,6605_帝寶,00878_國泰永續高股息,4908_前鼎
0,1937.0,2380.0,-271.0,-3225.0,-964.0,-665.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-7153.0,1100.0,NaN,503.0,NaN,NaN,3076.0,2014.0,308.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,480.0,NaN,NaN,1322.0,NaN,NaN,-1977.0,NaN,NaN,1548.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3085.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1625.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-3005.0,233.0,NaN,702.0,NaN,NaN,-250.0,1536.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-198.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
347,121.0,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,113.0,182.0
348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-121.0
349,-3203.0,-17788.0,-791.0,-27841.0,-1870.0,-665.0,322.0,-2278.0,629.0,-167.0,...,-132.0,-228.0,0.0,0.0,-295.0,-171.0,-239.0,133.0,113.0,61.0

In [ ]:
Agg_df.fillna(0).cumsum().apply()